h1 {
    color: $main_color;
    font-size: 16px;
    font-weight: 600;
    line-height: 26px;
    letter-spacing: 0.5px;
    margin-bottom: 15px;
}

h2 {
    color: $default_text_color;
    font-weight: 500;
    font-size: 13px;
    line-height: 23px;
    letter-spacing: 0.3px;
    margin-bottom: 3px;
}

p {
    color: $default_text_color;
    font-style: 400;
    font-size: 12px;
    line-height: 22px;
    letter-spacing: 0.3px;
    margin-bottom: 15px;
}

small {
    color: #9EA0A5;
    font-size: .875em;
    font-weight: 400;
}

.light-text {
    color: $light_text_color
}